* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}


:root {
  /* the designs were created tp the following widths */
  --mobile_width: 375px;
  --desktop_width: 1440px;
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --Very_dark_blue: hsl(212, 21%, 14%);
  --Dark_grayish_blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --paragraph-size: 14px;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  padding: 0px;
  margin-left: auto;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(223, 221, 221);


}

.container {

  padding: 40px;
  border-radius: 10px;

}

.poppins-200 {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 42px;
}

.poppins-400 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3px;
}

.titulo,
.subtitulo {
  font-size: 19px;
}


.texto {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 40px;
  color: rgb(97, 96, 96);
}

.titulo,
.subtitulo,
.text {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.carta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.text {
  font-size: 13px;
  color: rgb(104, 104, 104);
}



/*  DEFINIR LA ALTURA DE TODAS LAS TARJETAS  */




.carta-supervisor {
  display: block;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height:220px;
  border-top: 5px solid #00bcd4;
}


.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.carta-teambuilder {
  background-color: #fff;
  border-radius: 10px;
  width: 320px;
  height:220px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  border-top: 5px solid #ff4081;


}

.carta-karma {
  background-color: #fff;
  border-radius: 10px;
  width: 320px;
  height:220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
  margin: 10px;
  border-top: 5px solid #ffc107;

}


.carta-calculator {
  display: block;
  margin-inline: auto;
  width: 320px;
  height:220px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
  transition: transform 0.3s;
  border-top: 5px solid #3f51b5;
  padding-bottom: -300px;

}


.carta-supervisor:hover,
.carta-calculator:hover,
.carta-karma:hover,
.carta-teambuilder:hover {
  transform: translateY(-10px);
}


.imagen {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 200px;
}


h3 {
  color: #333;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
  margin-left: 13px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3px;
}

@media (min-width: 1440px) {

  .carta {
    flex-direction: row;
    width: 90%;
  }

  /* .flex-container {
    flex-direction: row;
 
  }

  .carta-supervisor,
  .carta-calculator,
  .carta-karma,
  .carta-teambuilder {

    width: 375px;
    height: 230px;

  }

  .carta-supervisor,
  .carta-calculator {
    margin-top: 100px;

  }

  .imagen {
    margin-right: 50px;

  } */

  .titulo,
  .subtitulo {
    font-size: 25px;
  }

  .texto {
    padding-left: 380px;
    padding-right: 380px;
  }
}