* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}


:root {
  /* the designs were created tp the following widths */
  --mobile_width: 375px;
  --desktop_width: 1440px;
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --Very_dark_blue: hsl(212, 21%, 14%);
  --Dark_grayish_blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --paragraph-size: 14px;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  padding: 0px;
 margin-left: auto;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(223, 221, 221);


}

.container {

  padding: 40px;
  border-radius: 10px;

}

.poppins-200 {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 42px;
}

.poppins-400 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3px;
}

.titulo,
.subtitulo {
  font-size: 21px;
}


.texto {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
  color: rgb(97, 96, 96);
}

.titulo,
.subtitulo,
.text {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.carta {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.carta-supervisor {
  margin-top: 55px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  border-top: 5px solid #00bcd4;
}

.carta-teambuilder {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  border-top: 5px solid #ff4081;
  margin-top: 25px;
}

.carta-karma {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
  margin: 10px;
  border-top: 5px solid #ffc107;
  margin-top: 25px;
}

.text {
  font-size: 13px;
  color: rgb(104, 104, 104);
}

.carta-calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s;
  border-top: 5px solid #3f51b5;
  padding-bottom: -300px;
  margin-top: 25px;
}


.carta-supervisor:hover,
.carta-calculator:hover,
.carta-karma:hover,
.carta-teambuilder:hover {
  transform: translateY(-10px);
}


.imagen {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 200px;
}


h3 {
  color: #333;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
  margin-left: 13px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3px;
}

@media (min-width: 1440px) {

  .carta{
    flex-direction:row ;
    width: 90%;
  }

  .flex-container {
flex-direction:row
    
  }

  .carta-supervisor, .carta-calculator, .carta-karma, .carta-teambuilder{
  
   width: 375px;
   height: 250px;

  }
  .carta-supervisor, .carta-calculator{
    margin-top: 100px;
  }
}