* {
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

/* variables definition */

:root {

  /* The designs were created to the following widths: */
  --mobile_width: 375px;
  --desktop_width: 1440px;

  /* ### Primary */
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(276, 66%, 28%);

  /* ### Neutral */
  --very_dark_blue: hsl(212, 21%, 14%);
  --dark_grayish_blue: hsl(228, 12%, 48%);

  --paragraph_size: 14px;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: grey;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.fraunces-700 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


/* PREVIUS STYLE INFO */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 68%, 74%);
}

body {
  background-color: rgb(223, 235, 174);
  /* border-collapse: separate; */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--mobile_width);
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

}

.flex-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;


}

.divimatge {
  display: block;
  width: 100%;
  box-sizing: border-box;

}

.texto {
  display: block;
  box-sizing: border-box;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--paragraph_size);

  margin-inline: auto;
  width: 100%;
}

.perfume {
  font-size: 13px;
}

.precio1 {
  color: rgb(6, 68, 6);
  font-size: 30px;
}

.precio2 {
  text-decoration: line-through;
  color: gray;
  font-size: small;
  vertical-align: text-top;
}

.buton {
  display: block;
  color: aliceblue;
  background-color: rgb(1, 82, 1);
  text-align: center;
  width: 150px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}

.perfume {
  font-size: 12px;
  padding: 10px 0px;
  letter-spacing: 3px;
  color: rgb(78, 78, 78);
}

.titulo {
  font-size: 35px;
  line-height: 32px;
  color: black;
}

.parrafo {
  color: gray;
  padding: 10px;
  font-size: var(--paragraph_size);
  line-height: 20px;

}

@media (min-width: 1440px) {

  main {
    width: 50%;
  }

  .flex-container {
    margin-top: 150px;
    flex-direction: row;
    width: auto;
    padding: 0;
    border-radius: 3px;


  }

  .divimatge {
    width: 60%;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }

  .texto {
    box-sizing: border-box;
    padding: 10px 70px;
    height: 367px;
    padding-top: 60px;
    border-radius: 12px;
  }

  .buton {
    margin-top: 10px;

  }

}